# Ejercicios con `pandas`

Importe las librerías necesarias:

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Imprima las versiones de todas la librerías

In [72]:
print('PANDAS VERSION')
print(pd.__version__)
print('MATPLOTLIB VERSION')
#print(plt.__version__)
print('SEABORN VERSION')
print(sns.__version__)

PANDAS VERSION
1.2.4
MATPLOTLIB VERSION
SEABORN VERSION
0.11.1

Importe los datos desde [aqui](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Asígnelos a una variable `chipo`.

In [4]:
chipo= pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep ='\t')

Muestre las primeras 10 entradas del dataframe

In [11]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Cual es el número total de observaciones en el dataset?

In [9]:
len(chipo)

4622

In [71]:
chipo.shape[0]

4622

Cuantas columnas hay en el dataset? Copielas a una lista.

In [26]:
len(chipo.columns.tolist())

5

Imprima el nombre de las columnas

In [18]:
for i in chipo.columns.tolist():
    print(i)

order_id
quantity
item_name
choice_description
item_price

Como está indexado el dataset?

In [64]:
list.index(chipo)

TypeError: descriptor 'index' for 'list' objects doesn't apply to a 'DataFrame' object

Cual fue el objeto más pedido?

In [65]:
chipo.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Carnitas Salad Bowl                        6
Burrito                                    6
Veggie Salad                               6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

Para el objeto más pedido, cuantos fueron?

In [68]:
chipo.item_name.value_counts()[0]

726

Cual fue el item más pedido en la columna `choice_description`?

In [73]:
chipo.choice_description.value_counts()

[Diet Coke]                                                                                                                                        134
[Coke]                                                                                                                                             123
[Sprite]                                                                                                                                            77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                              42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                   40
                                                                                                                                                  ...
[Fresh Tomato Salsa (Mild), Cheese]                                                                                                                  1
[[Roasted Chili Corn Salsa (Medium), Fresh Tomato Salsa (Mild)], [Lettuce, Black Beans, Sour Cream, Cheese, Rice, Fajita Veggies, Pinto Beans]]      1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                     1
[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans, Black Beans, Rice, Fajita Veggies, Cheese]]                                                          1
[Fresh Tomato Salsa, [Fajita Vegetables, Black Beans, Cheese, Lettuce]]                                                                              1
Name: choice_description, Length: 1043, dtype: int64

Cuantos items fueron pedidos en total?

In [74]:
chipo.item_name.counts()

AttributeError: 'Series' object has no attribute 'counts'

Convierte el precio en un `float`

Cuanto fue la ganancia total en el periodo del dataset?

Cúantos pedidos se hicieron?

Cual fue el promedio de ganancia por orden?

Cuántos items se vendieron en total?